/* header */

.header-bg {
    background-image: url(../images/img1.jpg);
    width: 100%;
    height: 324px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 30px;
}
.header-container {
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
}

.nav-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.burger {
    color: red;
    font-size: 35px;
    display: none;

}
.img-logo {
    max-width: 86px;
    width: 100%;
}

.header-ul {
    display: flex;
    font-size: 12px;
}
.li-1 {
    margin-right: 60px;
}
.li-1:last-child {
    margin-right: 0;
}

.div-of-span {
    margin-top: 96px;
}
.header-span {
    color: white;
    font-size: 42px;
    font-weight: bold;
}
.header-flex-div {
    display: flex;
    align-items: center;
}
.header-span2 {
    color: white;
    font-size: 14px;
}
.line {
    width: 2px;
    height: 19px;
    background-color: black;
    margin-left: 8px;
    margin-right: 8px;
}


.header-a {
    color: white;
}

/* First section */
.div-map {
    text-align: center;
}
.map {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 1088px;
    width: 100%;
    height: 286px;
}

/* Second section */

.sec2-p1 {
    font-size: 14px;
    max-width: 70px;
    width:100%;
}
.sec2-h3 {
    font-size: 42px;
    max-width: 378px;
    width: 100%;
    font-weight: bolder;
}
.sec2-text {
    max-width: 378px;
    width: 100%;
    height: 115px;
    margin-bottom: 15px;

}

.textarea {
    max-width: 720px;
    width: 100%;
    height: 288px;
    resize: none;
    outline: none;
}
.sec2-container {
    margin: 0 auto;
    max-width: 1088px;
    width: 100%;
    margin-top: 76px;
}
/* .form2 {
    display: flex;
    flex-direction: column;
    max-width: 352px;
    width: 100%;
} */

.div2-form2 {
    display: flex;
    flex-direction: column;
    max-width: 352px;
    width: 100%;
}
.input-form {
    max-width: 352px;
    width: 100%;
    height: 60px;
    background-color: white;
    border: 2px solid gray;
        
}

.input-form:focus {
    outline: none;
}
.submit {
    color: white;
    background-color: #5863F8;
    max-width: 352px;
    width: 100%;
    height: 60px;
    border: none;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit-logo {
    margin-left: 10px;
}
.container-form {
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.form-1 {
    display: flex;
    flex-direction: column;
    max-width: 720px;
    width: 100%;
}

/* Third section */


.sec3-div1 {
    max-width: 362px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mail-animation {
    background-color: #5863F8;
    max-width: 59px;
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.mail-h3 {
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 15px;
}
.mail-p {
    max-width: 362px;
    width: 100%;
    font-size: 14px;
    color: gray;
    margin-bottom: 5px;
}
.mail-p:last-child {
    margin-bottom: 0;
}

.section-3 {
    margin-top: 50px;
}
.sec3-container {
    max-width: 1088px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}


/* Fourth section */


.section-4 {
    margin-top: 90px;
}
.sec4-container {
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.sec4-text {
    margin-left: 10px;
    margin-bottom: 50px;
}
.sec4-p {
    font-size: 14px;
    color: #5863F8;
    font-weight: 700;
}
.sec4-h3 {
    font-size: 42px;
    font-weight: bold;
    color: black;
    max-width: 565px;
    width: 100%;
}
.sec4-div-imgs {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}


/* Footer Footer Footer */


.footer {
    background-color: black;
    width: 100%;
    height: 395px;
    color: white;
    padding: 90px;
}
.footer-container {
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.footer-div1 {
    max-width: 260px;
    width: 100%;
    height: auto;
}
.footer-div1-h3 {
    font-size: 24px;
    font-weight: bold;
}
.footer-div1-p {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
}
.fb-animation {
    max-width: 35px;
    width: 100%;
    height: 35px;
    border-radius: 50%;
    background-color: #3B5998;
    display: flex;
    justify-content: center;
    align-items: center;
}
.twitter-animation {
    max-width: 35px;
    width: 100%;
    height: 35px;
    border-radius: 50%;
    background-color: #55ACEE;
    display: flex;
    justify-content: center;
    align-items: center;
}
.google-animation {
    max-width: 35px;
    width: 100%;
    height: 35px;
    border-radius: 50%;
    background-color: #DC4E41;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plus-sign {
    margin-left: 2px;
}

.logos-container {
    max-width: 126px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.useful-links {
    display: flex;
    flex-direction: column;
    max-width: 90px;
    width: 100%;
    height: auto;
}
.footer-div2 {
    max-width: 103px;
    width: 100%;
    height: 155px;
}
.useful-links p {
    font-size: 14px;
    color: #5863F8;
    font-weight: 700;
    margin-bottom: 10px;
}
.useful-links:last-child {
    margin-bottom: 0;
}
.useful-links-h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.mail {
    color: #5863F8;
    margin-right: 14px;
}
.phone-icon, .location-icon {
    color: #5863F8;
    margin-right: 14px;
}
.footer-li {
    margin-bottom: 20px;
}
.footer-li:last-child {
    margin-bottom: 0;
}
.footer-div3 {
    max-width: 198px;
    width: 100%;
    height: 145px;
}
.footer-div3 h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer-ul {
    display: flex;
    flex-direction: column;
}
